<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hmd.persistence.RefQueryMapper">

	<!-- 블록 정보 조회 -->
	<select id="select_02" parameterType="block" resultType="block">
		/* select_02 */
		SELECT '10' ship_no FROM dual
	</select>

</mapper>