<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hmd.persistence.oracle.BlockMapper">

	<!-- 블록의 개수 조회 -->
	<select id="blockCount" resultType="int">
		/* blockCount */
		SELECT DISTINCT COUNT(DISTINCT block)
		FROM PM07_D30
	</select>

	<select id="getBlockListTmp" resultType="blockPoint">
		/* getBlockListTmp */
		<![CDATA[
			SELECT A.*, ROWNUM
			FROM (
			    SELECT DISTINCT block
			    FROM PM07_D30
			    ORDER BY block
			) A
			WHERE ROWNUM <= 5
		]]>
	</select>

	<!-- 블록 리스트 조회 -->
	<select id="getBlockList" parameterType="block" resultType="block">
		/* getBlockList */
		<![CDATA[
		WITH tb0 AS (
			SELECT dtlcod, muluse1
			FROM pm07_a10
			WHERE mfg_ind = #{mfgInd}
			AND lrgcod  = 'PA'
			AND midcod  = '20'
			AND dtlcod <> '_'
		)
        SELECT
		    T1.SHIP_NO, T1.BLOCK, SUBSTR(MAX(SYS_CONNECT_BY_PATH(T1.HHIX ||','|| HHIY, ';')), 2) CTIPOINTa
		FROM (
		    SELECT
		        T1.SHIP_NO, T1.BLOCK, T1.SEQNO, T2.JIBUN, T2.MFG_IND,
		        T1.WGS84_LONGI * (SELECT MULUSE1 FROM TB0 WHERE DTLCOD = 'Z6') WGS84_LONGI,
		        ROUND(T1.WGS84_LATI * (SELECT MULUSE1 FROM TB0 WHERE DTLCOD = 'Z6'), 15) WGS84_LATI,
		        T1.WGS84_LONGI * (SELECT MULUSE1 FROM TB0 WHERE DTLCOD = 'Z6') HHIX,
		        ROUND(T1.WGS84_LATI * (SELECT MULUSE1 FROM TB0 WHERE DTLCOD = 'Z6'), 15) HHIY,
		        T4.AREAGRP, T3.JBNGRP
		    FROM PM07_D30 T1
		    JOIN PM07_D20 T2 ON T1.SHIP_NO = T2.SHIP_NO AND T1.BLOCK = T2.BLOCK AND NOT (T1.WGS84_LONGI IS NULL AND T1.WGS84_LATI IS NULL)
		    JOIN PM07_A70 T3 ON T2.JIBUN = T3.JIBUN AND T2.MFG_IND = T3.MFG_IND AND T3.YNUSE = 'Y'
		    JOIN PM07_E30 T4 ON T3.JBNGRP = T4.JBNGRP AND T4.AREAGRP = 'A100'
		    JOIN PM07_A75 T5 ON T3.JIBUN = T5.JIBUN AND T3.MFG_IND = T5.MFG_IND
		    JOIN PM07_E10 T6 ON T4.AREAGRP = T6.AREAGRP
		    WHERE T2.CURGBN = 'P'
		    AND (T6.MFG_IND1 = #{mfgInd} OR T6.MFG_IND2 = #{mfgInd})
		    AND (T6.MFG_IND1 = T3.MFG_IND OR T6.MFG_IND2 = T3.MFG_IND)
		    AND (CASE WHEN T2.MFG_IND <> 'C' AND (T1.WGS84_LONGI IS NULL OR T1.WGS84_LATI IS NULL) THEN 'X' ELSE 'O' END) = 'O'
		) T1
		GROUP BY T1.SHIP_NO, T1.BLOCK, T1.JIBUN, T1.MFG_IND
		CONNECT BY PRIOR T1.SEQNO  = T1.SEQNO - 1
		AND PRIOR T1.SHIP_NO = T1.SHIP_NO
		AND PRIOR T1.BLOCK = T1.BLOCK
		START WITH T1.SEQNO = 1
		]]>
	</select>

	<!-- 같은 블록의 위치정보(경위도) 조회 -->
	<select id="getPointByBlock" parameterType="string" resultType="blockPoint">
		/* getPointByBlock */
		SELECT block, wgs84_lati lat, wgs84_longi lon
		FROM PM07_D30
		WHERE block = #{block}
	</select>

</mapper>