<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hmd.persistence.maria.BusMapper">

	<!-- 버스 총 건수 -->
	<select id="getBusTotalCount" parameterType="bus" resultType="long">
		/* getBusTotalCount */
		SELECT COUNT(*) FROM bus
	</select>
	
</mapper>