<!DOCTYPE html>
<html lang="ko-KR">
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>HMD</title>
<link rel="stylesheet" href="../css/style.css">
</head>

<body>
<div id="wrap">
	<!-- S: GNB WRAP -->
	<div id="gnbWrap" style="left:40px;"><!-- 메뉴 on 시 확장됨, left:110px 조정 -->
		<!-- S: 통합검색 -->
		<!-- <div class="totalSearch">
			<input type="text" id="fullTextSearch" name="fullTextSearch" placeholder="준비중입니다.">
			<button type="button" id="fullTextSearchButton" title="검색" class="btnTotalSearch">검색</button>
		</div> -->
	</div>
	<!-- E: GNB WRAP -->


	<!-- S: NAV WRAP -->
	<div id="navWrap" class=""><!-- 메뉴 on시 확장됨, class="on"과 함께 #gnbWrap의 left:110px 변경 -->
		<h1>HMD</h1>
		<ul class="nav">
			<li id="menu" class="menu" title="메뉴"><span>메뉴</span></li>
			<li id="layerMenu" class="layer" data-nav="layerContent" title="레이어"><span>레이어</span></li>
		</ul>
	<!-- <div class="contentsBtn">
		<button type="button" id="closeLeftBtn">레이어 닫기</button>
	</div> -->
	</div>
	<!-- E: NAV WRAP -->

	<div id="contentsWrap" style="display:none;">
		<!-- S: 레이어 -->
		<div id="layerContent" class="contentsList yScroll" style="height: 780px; display:none;">
			<h2 class="hide">레이어</h2>
			<ul class="listLayer">
				<li class="mapLayer on">
					<p>지도레이어</p>
					<ul>
						<!-- <draggable v-model="mapLayers" @change="changeLayer($event, defaultImgLayers.length, '1')">
						<li v-for="(layer, index) in mapLayers" :class="{on : layer.show}" v-on:click="toggleLayer(index+defaultImgLayers.length, layer)">
							<span>{{layer.name}}</span>
							<div>
								<span v-if="layer.color" class="color" title="색상" :style="{backgroundColor: '#'+layer.color}" v-on:click.stop.prevent="settingLayer(index+defaultImgLayers.length, layer, defaultMapLayers[index])">색상</span>
								<span class="opacity" title="투명도" v-on:click.stop.prevent="settingLayer(index+defaultImgLayers.length, layer, defaultMapLayers[index])">{{layer.alpha | toPercentString}}</span>
							</div>
						</li>
						</draggable> -->
						<li class="on" data-target-layer="tile_layer" data-layer-name="hmd:2018_AerialPhoto">
							<span>항공영상</span>
						</li>
						<li class="on" data-target-layer="base_layer" data-layer-name="hmd:LDREG">
							<span>지적</span>
						</li>
						<li class="on" data-target-layer="base_layer" data-layer-name="hmd:F01000">
							<span>등고선</span>
						</li>
						<li class="on" data-target-layer="base_layer" data-layer-name="hmd:A01000">
							<span>도로</span>
						</li>
						<li class="on" data-target-layer="base_layer" data-layer-name="hmd:B01000">
							<span>건물</span>
						</li>
					</ul>
				</li>
				<li class="testLayer on">
					<p>테스트 레이어</p>
					<ul>
						<li class="on" data-target-layer="block_layer" data-layer-name="point">
							<span>POINT</span>
						</li>
						<li class="on" data-target-layer="block_layer" data-layer-name="line">
							<span>LINE</span>
						</li>
						<li class="on" data-target-layer="block_layer" data-layer-name="polygon">
							<span>POLYGON</span>
						</li>
					</ul>
				</li>
			</ul>

		</div>
		<!-- E: 레이어 -->
	</div>
	<!-- E: CONTENTS WARP -->


	<!-- S: 맵영역 -->
	<div id="mapWrap">
		<h2 class="hide">맵영역</h2>

		<!-- S: 맵 컨트롤 버튼 -->
		<!-- <ul class="mapCtrl">
			<li id="mapCtrlCompass" class="compass" title="나침반">나침반</li>
			<li id="mapCtrlModeling" class="modeling on" title="3D">3D</li>
			<li id="mapCtrlReset" class="reset" title="초기화">초기화</li>
			<li id="mapCtrlDistance" class="distance" title="거리">거리</li>
			<li id="mapCtrlArea" class="area" title="면적">면적</li>
			<li id="mapCtrlZoomIn" class="zoomin" title="확대">확대</li>
			<li id="mapCtrlZoomOut" class="zoomout" title="축소">축소</li>
		</ul> -->
		<!-- E: 맵 컨트롤 버튼 -->

		<!-- S: 맵 -->
		<div id="map" class="map"></div>
		<!-- E: 맵 -->
	</div>
	<!-- E: MAP WRAP -->

	<!-- S: FOOTER -->
	<div id="footer"></div>
	<!-- E: FOOTER -->

</div>
<!-- E: WRAP -->

<script type="text/javascript" src="../externlib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../externlib/ol45/ol-debug.js"></script>
<script type="text/javascript" src="../externlib/proj4js-2.4.3/proj4.min.js"></script>

<script type="text/javascript" src="../js/mapInit.js"></script>
<script type="text/javascript" src="../js/mapUtil.js"></script>
<script type="text/javascript" src="../js/uiControll.js"></script>
<script type="text/javascript" src="../js/develop.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('#layerMenu').click();

		$('.mapLayer li').click(function(){
			$(this).toggleClass('on');
			toggleLayer(this);
		});

		$('.testLayer li').click(function(){
			$(this).toggleClass('on');
			toggleTestLayer(this);
		});

	});
</script>
</body>
</html>